.App {
  text-align: center;
}

.toast-message-error,
.toast-message-success {
  position: fixed;
  top: 0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  overflow-x: auto;
  margin-left: calc(50% - 150px);
  margin-top: 20px;
  height: fit-content;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
}

.toast-message-error {
  background-color: #dd4343;
}

.toast-message-success {
  background-color: #4adf00;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* add font style here */